<div class="toolbar" role="banner">
    <img
      width="300"
      alt="PrimeNG Logo"
      src="../assets/primenglogo.png"
    />
  </div>
  <div class="content" role="main">
    <p-accordion>
      <p-accordionTab header="Form Layout">
        <app-form-layout></app-form-layout> 
    </p-accordionTab>
      <p-accordionTab header="Data Table">
        <app-data-table></app-data-table>
      </p-accordionTab>
      <p-accordionTab header="Tree View">
          <app-treeview></app-treeview>
      </p-accordionTab>
      <p-accordionTab header="Calendar">
       <app-calendar></app-calendar>
    </p-accordionTab>
    <p-accordionTab header="List Box">
     <app-list-box></app-list-box>
   </p-accordionTab>
   <p-accordionTab header="Cards">
    <app-cards></app-cards>
  </p-accordionTab>
  <p-accordionTab header="TabView">
    <app-tab-view></app-tab-view>
  </p-accordionTab>
    </p-accordion>
  </div>

  



  
